  <div class="dropdown">
    <button class="dropbtn">Departments</button>
    <div class="dropdown-content">
      <a routerLink="department" routerLinkActive="active">Department</a>
      <a routerLink="addDepartment" routerLinkActive="active">Add</a>
      <a routerLink="search-department" routerLinkActive="active">Search</a>
      <a routerLink="sort-department" routerLinkActive="active">sort</a>
      <a routerLink="home" routerLinkActive="active">Home</a>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>