
<h3>Post Solution</h3>
<div *ngIf="message" class="alert alert-success">
  <p>{{ message }}</p>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  <p>{{ errorMessage }}</p>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card text-center" style="width: 25%; margin-top: -220px;">
    <div class="card-body">
      <h5 class="card-title">Post Solution</h5>
      <form (ngSubmit)="submitForm()">
        <div class="form-group">
          <div class="form-group col-md-12 text-start mb-2">
          <label for="issueId">Issue Id:</label>
          <input class="form-control" type="number" id="issueId" name="issueId" [(ngModel)]="issueId" disabled>
          
        </div>
        <div class="form-group">
          <div class="form-group col-md-12 text-start mb-2">
          <label for="description">Solution Description:</label>
          <textarea class="form-control" id="description" name="description" [(ngModel)]="description" #descriptionField="ngModel" required minlength="5" rows="4" cols="50"></textarea>
          <div *ngIf="descriptionField.invalid && (descriptionField.dirty || descriptionField.touched)" class="text-danger">
            Description is required
          </div>
        </div>
        <div class="form-group">
          <div class="form-group col-md-12 text-start mb-2">
          <label for="date">Solution Date:</label>
          <input class="form-control" type="date" id="date" name="date" [(ngModel)]="date" required #dateField="ngModel">
          <div *ngIf="dateField.invalid && (dateField.dirty || dateField.touched)" class="text-danger">
            Date is required
          </div>
        </div>
     
        <button class="btn btn-primary" type="submit">Post Solution</button>
        </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
