<p>update-operator works!</p>
{{updateOperator|json}}
<div>
    <h3>UpdateAccount</h3>
    <div *ngIf="message" class="alert alert-success">
        <p>
            {{ message }}
        </p>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
        <p>
            {{ errorMessage }}
        </p>
    </div>
    <form *ngIf="updateOperator">

        <label for="firstname">FirstName</label>
        <input type="text" id="firstname" name="firstname" [(ngModel)]="updateOperator.firstName" #firstnameRef="ngModel" pattern="[A-za-z]{3,}" ><br>
        <div *ngIf="firstnameRef.invalid">
            <p *ngIf="firstnameRef.errors?.['pattern']" class="text-danger">Only chars are allowed no special characters are allowed</p>
        </div> 
        <label for="lastname">lastName</label>
        <input type="text" id="lastname" name="lastname" [(ngModel)]="updateOperator.lastName" #lastnameRef="ngModel" pattern="[A-za-z]{1,}" ><br>
        <div *ngIf="lastnameRef.invalid ">
            <p *ngIf="lastnameRef.errors?.['pattern']" class="text-danger">Only chars are allowed no special characters are allowed</p>
        </div> 
        <label for="email">EmailId</label>
        <input type="email" id="email" name="email" [(ngModel)]="updateOperator.email" #emailRef="ngModel" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" disabled readonly><br>
        <div *ngIf="emailRef.invalid">
            <p *ngIf="emailRef.errors?.['pattern']" class="text-danger">Please enter a valid email address.</p>
        </div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="updateOperator.password" #passwordRef="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ><br>
        <div *ngIf="passwordRef.invalid">
          <p *ngIf="passwordRef.errors?.['pattern']" class="text-danger">Invalid Password</p>
        </div>
        <label for="phone">phoneNo</label>
        <input type="text" id="phone" name="phone" [(ngModel)]="updateOperator.phoneNo" #phoneNoRef="ngModel" pattern="[0-9]{10,10}" ><br>
        <div *ngIf="phoneNoRef.invalid">
          <p *ngIf="phoneNoRef.errors?.['pattern']" class="text-danger">Invalid Input</p>
        </div>
        <label for="city">City</label>
        <input type="city" id="city" name="city" [(ngModel)]="updateOperator.city" #cityRef="ngModel" pattern="[A-za-z]{5,}" ><br>
        <div *ngIf="cityRef.invalid">
          <p *ngIf="cityRef.errors?.['pattern']" class="text-danger">Invalid Input</p>
        </div>
        <label for="issuesSolved">IssuesSolved</label>
        <input type="number" id="issuesSolved" name="issuesSolved" [(ngModel)]="updateOperator.issuesSolved" #issuesSolvedRef="ngModel" min="0" ><br>
        <div *ngIf="issuesSolvedRef.invalid">
            <p *ngIf="issuesSolvedRef.errors?.['max']" class="text-primary">By default 0</p>
          </div>
        <input type="submit" value="UpdateAccount" (click)="UpdateOperator()" class="btn btn-warning" >
    </form>
</div>
