
 <div class="container mt-4"> 

    <h3>Add New department</h3><br>

    <div *ngIf="message" class="alert alert-success col-6">
        <p>{{message}}</p>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
        <p>{{errorMessage}}</p>
    </div>

    <form id="form1" #userForm="ngForm">

        <div class="mb-3">
            <label for="deptName" class="form-label">Department Name</label>
            <div class="col-6"> 
                <input type="text" class="form-control" id="deptName" name="deptName" [(ngModel)]="newDepartment.deptName" #nameRef="ngModel" pattern="[A-Za-z0-9\s!@#\$%^&*()]{2,}" required>
            </div>         
            <div *ngIf="nameRef.invalid && (nameRef.touched || nameRef.dirty)">
                <p *ngIf="nameRef.errors?.['required']" class="text-danger">Name is required, can't be blank.</p>
                <p *ngIf="nameRef.errors?.['pattern']" class="text-danger">Only characters are allowed, minimum 2 characters required.</p>
            </div>
        </div>

        <button (click)="addDepartment()" class="btn btn-primary" [disabled]="!userForm.valid">Add Department</button>
      
    </form>

</div>
