
<div id="outerBox">
    <h3>Create An Operator</h3>
    <p *ngIf="sucessMsg" class="alert alert-success">{{sucessMsg}}</p>
    <p *ngIf="failMsg" class="alert alert-danger">{{failMsg}}</p>
    <div id="formBox">
    <form id="form" #userForm="ngForm">
        <p>
        <label for="firstname">FirstName</label>
        <input type="text" id="firstname" name="firstname" [(ngModel)]="newOperator.firstName" #firstnameRef="ngModel" pattern="[A-za-z]{3,}" required><br>
        </p>
        <div *ngIf="firstnameRef.invalid && (firstnameRef.touched || firstnameRef.dirty)">
            <p *ngIf="firstnameRef.errors?.['required']" class="text-danger">Name is required, cant be blank.</p>
            <p *ngIf="firstnameRef.errors?.['pattern']" class="text-danger">Only chars are allowed no special characters are allowed</p>
        </div> 
        <p>
        <label for="lastname">lastName</label>
        <input type="text" id="lastname" name="lastname" [(ngModel)]="newOperator.lastName" #lastnameRef="ngModel" pattern="[A-za-z]{1,}" required><br>
        </p>
        <div *ngIf="lastnameRef.invalid && (lastnameRef.touched || lastnameRef.dirty)">
            <p *ngIf="lastnameRef.errors?.['required']" class="text-danger">Name is required, cant be blank.</p>
            <p *ngIf="lastnameRef.errors?.['pattern']" class="text-danger">Only chars are allowed no special characters are allowed</p>
        </div>
        <p> 
        <label for="email">EmailId</label>
        <input type="email" id="email" name="email" [(ngModel)]="newOperator.email" #emailRef="ngModel" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required><br>
        </p>
        <div *ngIf="emailRef.invalid && (emailRef.touched||emailRef.dirty)">
            <p *ngIf="emailRef.errors?.['required']" class="text-danger">Email is required.</p>
            <p *ngIf="emailRef.errors?.['pattern']" class="text-danger">Please enter a valid email address.</p>
        </div>
        <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="newOperator.password" #passwordRef="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required><br>
        </p>
        <div *ngIf="passwordRef.invalid && (passwordRef.touched||passwordRef.dirty)">
          <p *ngIf="passwordRef.errors?.['required']" class="text-danger">Field can not be empty.</p>
          <p *ngIf="passwordRef.errors?.['pattern']" class="text-danger">Invalid Password</p>
        </div>
        <p>
        <label for="phone">phoneNo</label>
        <input type="text" id="phone" name="phone" [(ngModel)]="newOperator.phoneNo" #phoneNoRef="ngModel" pattern="[0-9]{10,10}" required><br>
        </p>
        <div *ngIf="phoneNoRef.invalid && (phoneNoRef.touched||phoneNoRef.dirty)">
          <p *ngIf="phoneNoRef.errors?.['required']" class="text-danger">Field can not be empty.</p>
          <p *ngIf="phoneNoRef.errors?.['pattern']" class="text-danger">Invalid Input</p>
        </div>
        <p>
        <label for="city">City</label>
        <input type="city" id="city" name="city" [(ngModel)]="newOperator.city" #cityRef="ngModel" pattern="[A-za-z]{5,}" required><br>
        </p>
        <div *ngIf="cityRef.invalid && (cityRef.touched||cityRef.dirty)">
          <p *ngIf="cityRef.errors?.['required']" class="text-danger">city Cannot Be Empty.</p>
          <p *ngIf="cityRef.errors?.['pattern']" class="text-danger">Invalid Input</p>
        </div>
        <p>
        <label for="issuesSolved">IssuesSolved</label>
        <input type="number" id="issuesSolved" name="issuesSolved" [(ngModel)]="newOperator.issuesSolved" #issuesSolvedRef="ngModel" max="0" required><br>
        </p>
        <div *ngIf="issuesSolvedRef.invalid && (issuesSolvedRef.touched||issuesSolvedRef.dirty)">
            <p *ngIf="issuesSolvedRef.errors?.['required']" class="text-primary">IssuesSolvedByDefault 0</p>
            <p *ngIf="issuesSolvedRef.errors?.['max']" class="text-primary">By default 0</p>
          </div>
        <input type="submit" value="Create Account" (click)="addOperator()" class="btn btn-success" [disabled]="!userForm.valid">
    </form>
    <footer class="signup-footer">
      <p>Already have an account? <a href="#">Login</a></p>
  </footer>
    </div>
    
</div>

