<p>update-employee works</p>
<!-- {{employee | json}} -->

<div>
    <h3>Update Employee</h3>
    <div *ngIf="message" class="alert alert-success">
        <p>{{message}}</p>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
        <p>{{errorMessage}}</p>
    </div>
    <form *ngIf="employee">
        <label for="name">First Name</label><br>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="employee.firstName"><br>
        
        <label for="name">Last Name</label><br>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="employee.lastName"><br>

        <label for="phoneNo">Phone No.</label><br>
        <input type="number" id="phoneNo" name="phoneNo" [(ngModel)]="employee.phoneNo"><br>

        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" [(ngModel)]="employee.email" disabled readonly><br>

        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" [(ngModel)]="employee.password" disabled="readonly"><br>

        <label for="city">City</label><br>
        <input type="text" id="city" name="city" [(ngModel)]="employee.city"><br><br>

        <button (click)="updateEmployee()" class="btn btn-success">Update</button>

    </form>
</div>
