<div>
  <nav>
      <ul>
          <li><a routerLink="home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="login" routerLinkActive="active">Login</a> </li>
          <li><a routerLink="register" routerLinkActive="active">Register</a></li>
          <li><a routerLink="display" routerLinkActive="active">DispalyOperators</a></li>
          <li><a routerLink="updateOperator/" routerLinkActive="active">UpdateDetails</a></li>
          <li><a routerLink="getIssues" routerLinkActive="active">DisplayIssues</a></li>
          <li><a routerLink="issueBucket" routerLinkActive="active">IssueBucket</a></li>
          <li><a routerLink="departments" routerLinkActive="active">Departments</a></li>
      </ul>
  </nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>