<h4>Display Solution</h4>
<table  class="table my-4" *ngIf = "issues.length > 0" width="100%">
    <thead>
        <tr>
            <th>Issue Id</th>
            <th>Issue Type</th> 
            <th>Issue Description</th>
            <th>Solution Description</th>
            <th>Solution Date</th>
            <th>Action</th>
    
          </tr>
    </thead>
    <tbody>
        <!-- "issueId": 1,
        "issueType": "Software",
        "description": "Black Screen",
        "solution": null,
        "employee": null,
        "operator": null -->
                <tr *ngFor = "let issue of issues" >
            <td>{{issue.issueId}}</td>
            <th>{{issue.issueType}}</th> 
            <td>{{issue.description}}</td>
            <td>{{ issue.solution?.description }}</td>
            <td>{{ issue.solution?.date }}</td>
            <div *ngIf = "issue.solution === null">
                <td><button class="btn btn-primary"(click)="redirectToPostSolution(issue?.issueId)">Post</button></td>
            </div>
            <div *ngIf = "issue.solution !== null">
                <td><button class="btn btn-warning"(click)="redirectToUpdateSolution(issue?.issueId, issue.solution?.description)" >Update</button></td>
        </div>
        </tr>
        
    </tbody>
</table>
