<p>display-departmet-oparators works!</p>
<h3>Display Department Operators</h3>
<div *ngIf="message" class="alert alert-success">
    <p>{{message}}</p>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
    <p>{{errorMessage}}</p>
</div>
<h3 *ngIf="operators1.length<1">No operators to display</h3>
<table *ngIf="operators1.length>0" id="operators">
    <thead>
        <tr>
            <th>OperatorId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>EmailId</th>
            <th>PhoneNo</th>
            <th>IssuesSolved</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let operator of operators1">
            <td>{{operator.operatorId}}</td>
            <td>{{operator.firstName}}</td>
            <td>{{operator.lastName}}</td>
            <td>{{operator.email}}</td>
            <td>{{operator.phoneNo}}</td>
            <td>{{operator.issuesSolved}}</td>
        </tr>
    </tbody>
</table>
