
<div *ngIf="message">
    <p>{{message}}</p>
</div>
<div *ngIf="errorMessage">
    <p>{{errorMessage}}</p>
</div>
<h3 *ngIf="issues.length<1">No issues assign to display</h3>
<table *ngIf="issues.length>0" id="issues">
    <thead>
        <tr>
            <th>IssueId</th>
            <th>Issue</th>
            <th>issueDescription</th>
            <th>PostSolution</th>
            <th>SAction</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let issue of issues">
            <td>{{issue.issueId}}</td>
            <td>{{issue.issueType}}</td>
            <td>{{issue.description}}</td>
            <td><button (click)="postSolution()" class="btn btn-primary">Post-Solution</button></td>
            <td><button (click)="solvedIssue(issue.issueId)" class="btn btn-warning">CloseIssue</button></td>
        </tr>
    </tbody>

</table>
