<div>
    <h3>Raise Issue</h3>
    <div *ngIf="message" class="alert alert-success">
        <p>{{message}}</p>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
        <strong>Danger!</strong> {{errorMessage}}
    </div>
    
    <form id="form2" #userForm="ngForm">
        <div class="form-group">
            <label for="">Give the Issue description:</label><br>
            <input type="text" id="description" name="description" [(ngModel)]="issue.description"
            #descriptionRef="ngModel" required><br><br>
            
            <div *ngIf="descriptionRef.invalid && (descriptionRef.touched || descriptionRef.dirty)">
                <p *ngIf="descriptionRef.errors?.['required']" class="text-danger"> issue description Can't be blank!!!</p>
            </div>
        </div>

        <button (click)="raiseIssue(issue.description)" class="btn btn-primary">Submit</button>
        
    </form>
</div>
