*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,#3edaff,#a8f5ff);
}
.login-box{
    width: 400px;
    margin:  0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background:linear-gradient(to top left,#ffffffff,#ffffff33);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #3edaff;
    z-index: 2;
}
.login-header h1{
    font-size: 2.5rem;
    color: #212121;
}
.login-body{
    margin: 20px 0;
}
.login-body p{
    margin: 11px 0;
}
.login-body p label{
    display: block;
    font-weight: bold;
}
.login-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin: 4px;
    
}
.login-body button{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: rgb(118, 118, 209);
    border: none;
    color: white;
}

