<div>
    <h3>User Login Page</h3>
    <div *ngIf="message" class="alert alert-success">
        <p>{{message}}</p>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
        <strong>Danger!</strong> {{errorMessage}}
    </div>
    
    <form id="form2" #userForm="ngForm">
        <div class="form-group">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" [(ngModel)]="login.email" 
            #emailRef="ngModel" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required><br>
            
            <div *ngIf="emailRef.invalid && (emailRef.touched || emailRef.dirty)">
                <p *ngIf="emailRef.errors?.['required']" class="text-danger">Email is required, Can't be blank!!!</p>
                <p *ngIf="emailRef.errors?.['pattern']" class="text-danger">Please provide valid email.</p>
            </div>
        </div>
        
        <div class="form-group">
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" [(ngModel)]="login.password"
            #passwordRef="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required><br><br>
            
            <div *ngIf="passwordRef.invalid && (passwordRef.touched || passwordRef.dirty)">
                <p *ngIf="passwordRef.errors?.['required']" class="text-danger">Password is required, Can't be blank!!!</p>
                <p *ngIf="passwordRef.errors?.['pattern']" class="text-danger">Please provide valid password</p>
            </div>
        </div>

        <button (click)="userLogin()" class="btn btn-primary">Login</button>
        <p>If user not registered yet, please register first...<a (click)="userRegister()" href='add-employee'>Register Now</a></p>
        
    </form>
    <p>If you want to logout, please click on below button</p>
    <button (click)="userLogout()" class="btn btn-warning">Logout</button>
</div>
