<h3>Issue Bucket Works</h3>
<div *ngIf="message">
    <p>{{message}}</p>
</div>
<div *ngIf="errorMessage">
    <p>{{errorMessage}}</p>
</div>
<h3 *ngIf="issues.length<1">No issues assign to display</h3>
<table *ngIf="issues.length>0" id="issues">
    <thead>
        <tr>
            <th>IssueId</th>
            <th>Issue</th>
            <th>issueDescription</th>
            <th>SAction</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let issue of issues">
            <td>{{issue.id}}</td>
            <td>{{issue.issue}}</td>
            <td>{{issue.issueDescription}}</td>
            <td><button (click)="solvedIssue(issue.id)" class="btn btn-warning">solvedIssue</button></td>
        </tr>
    </tbody>

</table>
